h1 {
	text-align: center;
	font-family: "Courier New", monospace;
	color: #FFFFFF;
	font-size: 50px;
}

h2 {
	text-align: center;
	font-family: "Courier New", monospace;
	color: #FFFFFF;
	font-size: 32px;
}

h3 {
	text-align: center;
	font-family: "Courier New", monospace;
	color: #FFFFFF;
	font-size: 22px;
}

/* Background Color */
body {
	background-color: #212121;
}

/* Links to other locations */
a {
	font-family: "Courier New", monospace;
}
a:link {
	color: #00CCFF;
}
a:visited {
	color: #0099EE;
}
a:hover {
	color: #FF00AA;
}

#top-bar {
	width: 98%;
	height: 5%;
	
	background-color: #333333;

	border-radius: 30px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: auto;
}

.top-bar-link {
	padding: 20px;
}

.highlight {
	color: #008888;
}

.screenshot {
	max-width: 500px;
	padding: 20px;
	border-radius: 40px;	

	display: block;
	margin: auto;
}

.image {
	max-width: 400px;
	max-height: 200px;
	padding: 10px;
	border-radius: 10px;	

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.game-link {
	text-decoration: none;
}

.image:hover {
	border: solid;
	border-color: white;
	border-width: 2px;
}
